.potential-match-browse-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
}

.browse-header {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 20px;
}

.browse-header > h1 {
    font-size: 25px;
    color: #80F;
}

.browse-box-wrapper {
    display: flex;
    justify-content: center;
}

.main-browse-box {
    display: flex;
}

.filter-settings-dropdown {
    position: absolute;
    border: 1px solid lightgrey;
    border-radius: 23px;
    top: 100px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    width: 400px;
    height: 300px;
    background-color: white;
    padding: 40px;
}

.hidden {
    display: none;
}

.age-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.age-inputs input:focus {
    outline: none;
}
.age-inputs input {
    margin: 10px;
}

.filter-buttons {
    display: flex;
    align-self: flex-end;
    gap: 20px;
    align-items: center;
}

.filter-buttons button {
    border-radius: 23px;
    border: none;
    background-color: #80f;
    color: white;
    padding: 10px;
}

.filter-buttons *:hover {
    cursor: pointer;
}

.filter-button-open {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    margin-left: 50px;
}

.filter-button-open:hover {
    cursor: pointer;
}


#fa-slider {
    font-size: 15px;
}

.gender-button {
    border: 1px solid lightgrey;
    background: none;
    left: 0;
    position: relative;
    z-index: 1;
    padding: 10px;
    border-radius: 23px;
}

#active-gender {
    background-color: white;
    color: #80F;
}

.gender-button:hover {
    cursor: pointer;
}

.gender-button-holder {
    background-color: lightgrey;
    border-radius: 23px;
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: -1;
}

.white-back {
    width: 40px;
    background-color: white;
    position: absolute;
}

.browse-view-logo {
    color: #80f;
    font-size: 30px;
}
