.bigger-messages-wrapper {
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.match-messages-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* height: 90%; */
    overflow-y: scroll;
    bottom: 0;
    padding: 0 10px;
}

#chat-input-form {
    width: 100%;
    padding: 5px 20px 20px 20px;
}

.dummy-bottom {
    height: 5px;
}

.user-messages {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
}

.user-message {
    background-color: rgb(233, 233, 233);
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    word-break: break-word;
}

.other-message {
    background-color: #80F;
    color: white;
    padding: 10px;
    border-radius:15px 15px 15px 0;
    margin: 5px;
    word-break: break-word;
}

.other-messages {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
}



.chat-input-form-field {
    display: flex;
    justify-content: space-between;
    border: 2px solid #80F;
    height: 50px;
    border-radius: 30px;
}

#chat-input {
    border: none;
    width: 100%;
    border-radius: 30px;
    height: 45px;
    padding: 10px;
}
#chat-input:focus {
    outline: none;
}



#chat-send-button {
    margin-right: 10px;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    border: none;
    background-color: lightgrey;
    color: white;
}

#chat-send-button:hover {
    cursor: pointer;
}

.message-item-container {
    display: flex;
}

.fa-trash-can {
    align-self: flex-end;
    margin-right: 10px;
}

.fa-trash-can:hover {
    cursor: pointer;
}

.make-first-move {
    align-self: center;
    text-align: center;
    padding: 30px;
}

.message-item-container {
    width: 60%;
    word-break: break-word;
}

.fa-paper-plane {
    font-size: 20px;
}

.message-spinner-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
