.schedule-view-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
}

.schedule-view-right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.schedule-view-header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}
