/* TODO Add site wide styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
}

button {
    cursor: pointer;
}

.fa-angle-left {
    font-size: 15px;
    color: grey;
    position: absolute;
    left: 20px;
    top: 20px;
}

.fa-angle-left:hover {
    cursor: pointer;
}

.fa-angle-right {
    font-size: 18px;
}

.fa-bars {
    color: grey;
    font-size: 17px !important;
}

.fa-calendar-days {
    font-size: 20px;
}

.fa-check, .fa-snowflake {
    color: #80F;
}

.fa-ellipsis-vertical {
    font-size: 30px;
    cursor: pointer;
}

.fa-snowflake {
    font-size: 40px;
}

.fa-solid {
    font-size: 30px;
}

.fa-xmark {
    color: grey;
}

.hidden {
    display: none;
}

#root {
    height: 100vh;
}

.errors {
    color: red;
}
