.login-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 40%;
    align-items: center;
}

.login-form input {
    width: 70%;
    height: 40px;
    border-radius: 30px;
    border: 1px solid lightgrey;
    padding: 10px;
    margin: 15px;
}

.login-form input:focus {
    outline: 1px solid #80f;
}

.login-form input label {
    width: 100%;
}

h1 {
    margin-bottom: 50px;
}

.login-form button {
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    font-weight: 600;
}

.login-form button:hover {
    cursor: pointer;
}

.login-submit {
    background-color: #80f;
    color: white;
    border: none;
    width: 70px;
}

.demo-login {
    border: 2px solid black;
    color: black;
    background-color: white;
}

.login-submit:hover {
    background-color: rgb(109, 0, 203);
}

.demo-login:hover {
    background-color: #80f;
    border: 2px solid #80f;
    color: white;
}

.register-here {
    text-decoration: none;
}
