.profile-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid lightgrey;
  list-style-type: none;
  top: 0px;
  left: 0px;
  width: 350px;

}

.hidden {
  display: none;
}

.current-user-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  object-fit: cover;
}

.current-user-image-button {
  border-radius: 100%;
  border: none;
}

.current-user-image-button:hover {
  cursor: pointer;
}

.upper-user-info {
  display: flex;
  align-items: center;
  gap: 27px;
  margin: 20px;
}

.display-user-name {
  font-size: 20px;
  font-weight: 600;
}

.fa-angle-left:hover {
  cursor: pointer;
}
