.left-matches-wrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100vh;
    border-right: 1px solid lightgrey;
}

.unmessaged-matches-wrapper {
    width: 350px;
    height: 120px;
    overflow-x: scroll;
}

.inner-wrapper {
    width: 500px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}


.mini-match-icons:hover {
    cursor: pointer;
}

.scroll-match-item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.scroll-match-item:hover {
    background-color: rgba(211, 211, 211, 0.299);
    border-radius: 10px;
}

.left-headers {
    margin: 10px;
}

.back-to-browse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(240, 224, 255);
    text-decoration: none;
}

.back-to-browse:hover {
    background-color: rgb(227, 210, 243);
}

.fa-angle-right {
    font-size: 18px;
}

.mini-match-icons {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    object-fit: cover;
}
