@import ../../helpers

.back_to_browse
    display: flex
    align-items: center
    justify-content: space-between
    padding: 15px
    background-color: $lightpurple
    text-decoration: none
    &:hover
        background-color: $lightpurple2

.labels
    margin: 10px

.wrapper
    display: flex
    flex-direction: column
    width: 350px
    height: 100vh
    border-right: 1px solid $lightgray
