.browse-item-wrapper {
    display: flex;

    justify-content: space-between;
    margin: 20px 50px 50px 50px;
    height: 37rem;
    border-radius: 23px;
    padding-bottom: 20px;
}

.main-browse-picture {
    width: 50%;
    border-radius: 23px 0 0 23px;
}

.main-browse-picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 23px 0 0 23px;
}

.browse-item-right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background-color: rgb(240, 224, 255);
    border-radius: 0 23px 23px 0;
    padding: 30px 30px 80px 30px;
}

.name-and-age {
    align-self: flex-start;
    color: rgb(71, 71, 71);
}

.browse-item-right-side p {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    vertical-align: center;
}

.no-browse-wrapper {
    margin: 50px;
}

.no-browse-wrapper h3 {
    text-align: center;
}

.browse-item-outer-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swipe-button {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: white;
    border: 1px solid rgb(193, 193, 193);
}

.swipe-button:hover {
    cursor: pointer;
}

.swipe-yay:hover {
    width: 75px;
    height: 75px;
    filter: drop-shadow(1px 3px 5px lightgrey)
}

.swipe-nay:hover {
    width: 75px;
    height: 75px;
    filter: drop-shadow(1px 3px 5px lightgrey)
}

.swipe-button-container {
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
    height: 90px;
    width: 190px;
    justify-content: space-between;
}

.fa-solid {
    font-size: 30px;
}

.fa-check, .fa-snowflake {
    color: #80F;
}

.fa-xmark {
    color: grey;
}

#main-about {
    font-size: 15px;
    word-break: break-word;
}

.main-flake-score {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.fa-snowflake {
    font-size: 40px;
}

#flake-explanation {
    font-size: 15px;
}

.flake-explanation-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.hidden-matched-box {
    display: none;
}

.matched-box {
    position: absolute;
    background-color: rgba(136, 0, 255, 0.903);
    color: white;
    height: 90%;
    right: 20px;
    /* width: 90%; */
    left: 20px;
    top: 20px;
    right: 20px;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.matched-box h2 {
    font-size: 60px;
    margin-bottom: 15px;
}

.overlap-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
}

.matched-box p {
    width: 50%;
    text-align: center;
}

.overlap-pics-container {
    position: relative;
    width: 300px;
    height: 200px;
}

.overlap-pic {
    position: absolute;
    border: 7px solid white;
}

.ov1 {
    left: 20px;
}

.ov2 {
    right: 20px;;
}

.keep-browsing:hover {
    cursor: pointer;
}
