.unmessaged-matches-carousel {
    width: 350px;
    position: relative;
    height: 90px;
    display: flex;
    align-items: center;
    z-index: 0;
}

.inner-wrapper {
    position: relative;
    /* z-index: 1; */
}

.carousel-buttons {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: none;
    position: absolute;
    background-color: white;
    filter: drop-shadow(1px 3px 5px lightgrey);
    color: grey;
}

.carousel-buttons:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

#left-carousel-caret {
    font-size: 12px;
    margin: none;
    padding: none;
}

.inner-wrapper-left-carousel {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.last-group-carousel-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    gap: 15px;
    margin-left: 10px;
}

.left-carousel-button {
    left: 10px;
}

.right-carousel-button {
    right: 10px;
}


#last-match-group {
    justify-self: flex-start;
}

.mini-match-icons {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    object-fit: cover;
}


.mini-match-icons:hover {
    cursor: pointer;
}



.scroll-match-item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.scroll-match-item:hover {
    background-color: rgba(211, 211, 211, 0.299);
    border-radius: 10px;
}
