.report-ghost-modal {
    width: 400px;
    height: 300px;
    padding: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(240, 224, 255);
    border-radius: 23px;
}

.report-ghost-modal > p {
    text-align: center;
    margin: 15px 0;
}

.ghosting-report-buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

#ghost-cancel {
    color: #80f;
    font-weight: 600;
}

.ghosting-report-buttons button {
    background-color: #80f;
    color: white;
    font-weight: 600;
    height: 30px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.ghosting-report-buttons *:hover {
    cursor: pointer;
}
