.edit-profile-index-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.edit-profile-main-content {
    display: flex;
    position: relative;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}



.right-edit-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.edit-profile-images-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    justify-content: space-between;
    align-items: center;
}

.image-boxes-top {
    display: flex;
    width: 100%;
    height: 66%;
    justify-content: space-between;
}

.pic-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 5px;
    background-color: white;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 20px;
}

.image-boxes-top-right {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
    justify-content: space-between;
    gap: 10px;
}

.image-boxes-top-right > div {
    width: 100%;
    height: 50%;
}

.empty-image {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.empty-image:hover {
    cursor: pointer;
}

.smaller-image {
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 20px;
}

.image-boxes-bottom {
    display: flex;
    justify-content: space-between;
    height: 33%;
    width: 100%;
    padding-top: 5px;
    gap: 10px;
}

.image-boxes-bottom > div {
    width: 33%;
    height: 100%;
}

.image-x {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: white;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}

.image-x:hover {
    cursor: pointer;
}

.image-mini-wrapper {
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 20px;
    width: 66%;
    height: 100%;
}

.left-flake-score-container {
    position: absolute;
}

.edit-profile-text-inputs {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}


.edit-profile-text-inputs h4 {
    align-self: flex-start;
    font-size: 20px;
}

.about-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border-radius: 23px;
    align-items: center;
}

.about-header:hover {
    background-color: rgba(206, 205, 205, 0.149);
    cursor: pointer;
}

.about-me-edit-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-me-edit-form > textarea {
    margin: 0 20px 20px 20px;
    height: 150px;
    padding: 15px;
    border-radius: 23px;
    border: 1px solid lightgrey;
}

.about-me-edit-form > textarea:focus {
    outline: 1px solid #80f;
}

.non-active-about {
    display: none;
}

.actively-editing-about {
    background-color: rgba(206, 205, 205, 0.149);
    border-radius: 23px;
}

.about-edit-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 40px 30px;
    align-items: center;
}

.fa-angle-up, .fa-angle-down {
    color: grey;
    font-size: 23px;
}

.about-error {
    margin: 20px;
}

.about-edit-cancel {
    color: #80f;
    font-weight: 600;
}

.about-edit-cancel:hover {
    cursor: pointer;
}

.about-me-edit-form button {
    background-color: #80f;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    border:none;
}

#disabled-about-save {
    background-color: grey;
}

.about-me-edit-form button:hover {
    cursor: pointer;
}

.empty-image > button {
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.085);
    border: none;
    font-size: 40px;
    color: lightgrey;
}

.empty-image > button:hover {
    cursor: pointer;
}
