.edit-profile-index-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.edit-profile-main-content {
    display: flex;
}


.right-edit-profile-container {
    display: flex;
    flex-direction: column;
}

.edit-profile-images-wrapper {
    display: flex;
    flex-direction: column;
}

.image-boxes-top {
    display: flex;
}

.pic-1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 5px;
    background-color: white;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 20px;
}

.image-boxes-top-right {
    display: flex;
    flex-direction: column;
}

.empty-image {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.empty-image:hover {
    cursor: pointer;
}

.smaller-image {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 20px;
}

.image-boxes-bottom {
    display: flex;
}

.image-x {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: white;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}

.image-x:hover {
    cursor: pointer;
}

.image-mini-wrapper {
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 20px;
}
