.static-left-settings-wrapper {
    background-color: white;
    border: 1px solid lightgrey;
    list-style-type: none;
    width: 350px;
    height: 100%;
    position: relative;
}

.static-left-inside {
    width: 350px;
}

.static-left-header {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fa-angle-left {
    position: absolute;
    left: 20px;
    top: 20px;
}


#dropdown-active {
    color: black;
    background-color: rgba(211, 211, 211, 0.173);
}
